@{
    ViewBag.Title = "Index";
    
}
@{Layout = "~/Views/Shared/Layout.cshtml";}

<!--- NOTE: for evening classes 18 pixels per 5 minutes with 1200px width table 
 -->
<table class="mwfTable">
    <tr>
        <td></td>
        <td>0800-0855</td>
        <td>0905-1000</td>
        <td>1115-1210</td>
        <td>1220-1315</td>
        <td>1325-1420</td>
        <td>1430-1525</td>
        <td>1535-1630</td>
    </tr>
    <tr>
        <td>NW 112</td>
        <td>
            <table><tr><td>M<br />CSC 101-01</td><td>W<br />CSC 101-01</td><td>F</td></tr></table>
        </td>
        <td><table><tr><td>1/13-3/14<br />PED 112</td></tr><tr><td>3/15-5/4<br />PED 112</td></tr></table></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>NW 113</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

</table>